<div class="p-6 bg-white rounded-lg shadow-md">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-2xl font-bold text-gray-800">Families</h1>
    <%= link_to "Add Family", new_family_path, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 shadow-md" %>
  </div>
  <table class="w-full overflow-hidden border border-collapse border-gray-300 rounded-lg">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-3 text-sm font-medium text-left text-gray-500">Name</th>
        <th class="px-4 py-3 text-sm font-medium text-left text-gray-500">Phone</th>
        <th class="px-4 py-3 text-sm font-medium text-left text-gray-500">Token</th>
        <th class="px-4 py-3 text-sm font-medium text-gray-500">Actions</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      <% @families.each do |family| %>
        <tr class="transition duration-200 hover:bg-gray-100">
          <td class="px-4 py-3 text-gray-700"><%= family.name %></td>
          <td class="px-4 py-3 text-gray-700"><%= family.phone %></td>
          <td class="px-4 py-3 font-mono text-gray-700 text-blue-600"><%= family.token %></td>
          <td class="px-4 py-3 space-x-2 text-right">
            <%= link_to "Members", family_members_path(family), class: "bg-green-500 text-white px-3 py-1 rounded hover:bg-green-700" %>
            <%= link_to "Edit", edit_family_path(family), class: "bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-500" %>
            <%= link_to "Delete", family_path(family),
              data: {
                controller: "delete",
                action: "click->delete#confirm",
                delete_url_value: family_path(family),
                turbo: "false",
                turbo_method: "delete"
              },
              class: "bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700 cursor-pointer"
            %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
